@import "variable.styl"
*
  margin 0
  padding 0
html,body
  width 100%
  height 100%
  overflow hidden
  perspective 500px
  transform-style preserve-3d

//全局设置滚动条
::-webkit-scrollbar
  width 5px
  background rgba(0,0,0,0)
  border-radius 5px
::-webkit-scrollbar-button
  display none
::-webkit-scrollbar-thumb
  width 5px
  background primaryColor
  &:horizontal
    height 5px !important
  background #afafaf
  border-radius 5px

.amap-copyright,.amap-logo
  display none !important
.amap-control
  color #217AD2 !important
  &>span
    color #217AD2 !important
