directionColor=#00F6FF
directionHover()
  &:hover
    color lighten(directionColor,30)
directionActive(d)
  transition all .1s linear
  transform translate(0,0) rotateY(0deg)
  &:active
    if d == 'up'
      transform-origin center
      transform translate(0,-1px) rotateX(15deg)
    if d == 'right'
      transform-origin center
      transform translate(1px,0) rotateY(15deg)
    if d == 'bottom'
      transform-origin center
      transform translate(0,1px) rotateX(-15deg)
    if d == 'left'
      transform-origin center
      transform translate(-1px,0px) rotateY(-15deg)
.directionInner
  display grid
  grid-template-columns 24px 22px 24px
  grid-template-rows 24px 22px 24px
  width 70px
  height 70px
  user-select none
  background radial-gradient(#141414,#232325)
  color directionColor
  border-radius 50%
  .center
    width 22px
    height 22px
    border-radius 50%
    box-shadow 0px 0px 8px 1px #333
    background #000
    &:active
      box-shadow 0px 0px 8px 1px #585858
  .up
    grid-column 1/4
    display grid
    place-content center
    directionHover()
    directionActive('up')
  .right
    display grid
    place-content center
    directionHover()
    directionActive('right')
  .bottom
    grid-column 1/4
    display grid
    place-content center
    directionHover()
    directionActive('bottom')
  .left
    display grid
    place-content center
    directionHover()
    directionActive('left')

.renumberButton
  width 112px
  height 32px
  display grid
  grid-template-columns 2em auto 2em
  background radial-gradient(#141414,#232325)
  font-size 16px
  font-family Microsoft YaHei
  font-weight 400
  color rgba(255,255,255,1)
  border-radius 50px
  color directionColor
  user-select none
  &>div,i
    display grid
    place-content center
  i
    directionHover()
    transition transform .2s linear
    transform-origin center
    &:active
      transform scale(.9)
